[submodule "src/shared/external"]
	path = src/shared/external
	url = git@dev.mallenom.ru:mallenom.shared.git
[submodule "src/tools/common"]
	path = src/tools/common
	url = git@dev.mallenom.ru:mallenom.tools.git
